* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

/* body e navegation */
body {
    font-family: 'Roboto', sans-serif;
}

body a {
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    color: #c4c4cc;
}

body a:hover {
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    position: fixed;
    top: 4rem;
    left: 7.2rem;
}

/*Geral*/
 h1 {
    font-weight: 700;
    font-size: 4.8rem;

    color: #ffffff;
}

body p {
    width: 65.8rem;
    height: 20.3rem;

    padding-top: 1rem;

    font-size: 1.8rem;
    line-height: 160%;
    color: #c4c4cc;
}

#app .page {
    margin: 18.5rem 0 0 10.2rem;
}
  

#app .pageHome {
    width: 100vw;
    height: 100vh;
  
    display: grid;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    25% {
        transform: rotate(90deg);
        opacity: 0.5;
    }
    50% {
        transform:rotate(180deg);
        opacity: 0.75;
    }
    75% {
        transform: rotate(270deg);
        opacity: 1;
    }
    85% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.25;
    }
}

.icon {
    animation: rotate 8s linear infinite;
}

/*home*/

#app button {
    width: 25rem;
    height: 6rem;

    background: transparent;

    margin-left: 8rem;
    font-weight: 700;

    border: 2px solid #ffffff;
    border-radius: 0.5rem;

    margin-top: 2.4rem;
    
    cursor: pointer;
}

#app button:hover {
    background-color: #ffffff;
}

#app button a:hover {
    color: #02789c;
    background-color: #ffffff;
}

/*Universe*/
